# <center>Desarrollo API</center>
Propones disponibilizar los datos de la empresa usando el framework FastAPI. Las consultas que propones son las siguientes:

Deben crear 6 funciones para los endpoints que se consumirán en la API, recuerden que deben tener un decorador por cada una (@app.get(‘/’)).

In [1]:
import pandas as pd
import numpy as np
import datetime
import ast

In [2]:
# Carga del Datasets
df = pd.read_csv("./movies_etl.csv", low_memory=False)

In [5]:
# Carga del Datasets
pd.set_option('display.max_colwidth', 25)
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
df.head()

      belongs_to_collection    budget                    genres     id original_language                  overview  popularity      production_companies      production_countries release_date      revenue  runtime         spoken_languages    status                   tagline                     title  vote_average  year      month      day  return
0      Toy Story Collection  30000000  ['Animation', 'Comedy...    862                en  Led by Woody, Andy's ...   21.946943  ['Pixar Animation Stu...  ['United States of Am...   1995-10-30  373554033.0     81.0              ['English']  Released                       NaN                 Toy Story           7.7  1995    Octubre    Lunes   12.45
1                       NaN  65000000  ['Adventure', 'Fantas...   8844                en  When siblings Judy an...   17.015539  ['TriStar Pictures', ...  ['United States of Am...   1995-12-15  262797249.0    104.0  ['English', 'Français']  Released  Roll the dice and unl...                   Jumanji           6.9  1995  Diciembre  Viernes    4.04
2  Grumpy Old Men Collec...         0     ['Romance', 'Comedy']  15602                en  A family wedding reig...   11.712900  ['Warner Bros.', 'Lan...  ['United States of Am...   1995-12-22          0.0    101.0              ['English']  Released  Still Yelling. Still ...          Grumpier Old Men           6.5  1995  Diciembre  Viernes    0.00
3                       NaN  16000000  ['Comedy', 'Drama', '...  31357                en  Cheated on, mistreate...    3.859495  ['Twentieth Century F...  ['United States of Am...   1995-12-22   81452156.0    127.0              ['English']  Released  Friends are the peopl...         Waiting to Exhale           6.1  1995  Diciembre  Viernes    5.09
4  Father of the Bride C...         0                ['Comedy']  11862                en  Just when George Bank...    8.387519  ['Sandollar Productio...  ['United States of Am...   1995-02-10   76578911.0    106.0              ['English']  Released  Just When His World I...  Father of the Bride P...           5.7  1995    Febrero  Viernes    0.00

def peliculas_mes(mes): '''Se ingresa el mes y la funcion retorna la cantidad de peliculas que se estrenaron ese mes (nombre del mes, en str, ejemplo 'enero') historicamente''' return {'mes':mes, 'cantidad':respuesta}

In [6]:
def peliculas_mes(mes: str):
    '''Se ingresa el mes y la función retorna la cantidad de películas que se estrenaron ese mes históricamente'''
    df_mes = df[df['month'] == mes]
    cantidad = len(df_mes)
    return {'mes': mes, 'cantidad': cantidad}

In [7]:
print(peliculas_mes('Enero'))
print(peliculas_mes('Febrero'))
print(peliculas_mes('Marzo'))
print(peliculas_mes('Abril'))
print(peliculas_mes('Mayo'))
print(peliculas_mes('Junio'))
print(peliculas_mes('Julio'))
print(peliculas_mes('Agosto'))
print(peliculas_mes('Setiembre'))
print(peliculas_mes('Octubre'))
print(peliculas_mes('Noviembre'))
print(peliculas_mes('Diciembre'))

{'mes': 'Enero', 'cantidad': 5912}
{'mes': 'Febrero', 'cantidad': 3032}
{'mes': 'Marzo', 'cantidad': 3553}
{'mes': 'Abril', 'cantidad': 3453}
{'mes': 'Mayo', 'cantidad': 3339}
{'mes': 'Junio', 'cantidad': 3153}
{'mes': 'Julio', 'cantidad': 2640}
{'mes': 'Agosto', 'cantidad': 3394}
{'mes': 'Setiembre', 'cantidad': 0}
{'mes': 'Octubre', 'cantidad': 4615}
{'mes': 'Noviembre', 'cantidad': 3661}
{'mes': 'Diciembre', 'cantidad': 3786}

def peliculas_dia(dia): '''Se ingresa el dia y la funcion retorna la cantidad de peliculas que se estrenaron ese dia (de la semana, en str, ejemplo 'lunes') historicamente''' return {'dia':dia, 'cantidad':respuesta}

In [8]:
def peliculas_dia(dia: str):
    '''Se ingresa el día y la función retorna la cantidad de películas que se estrenaron ese día históricamente'''
    df_dia = df[df['day'] == dia]
    cantidad = len(df_dia)
    return {'dia': dia, 'cantidad': cantidad}

In [9]:
print(peliculas_dia('Lunes'))
print(peliculas_dia('Martes'))
print(peliculas_dia('Miércoles'))
print(peliculas_dia('Jueves'))
print(peliculas_dia('Viernes'))
print(peliculas_dia('Sábado'))
print(peliculas_dia('Domingo'))

{'dia': 'Lunes', 'cantidad': 3503}
{'dia': 'Martes', 'cantidad': 4641}
{'dia': 'Miércoles', 'cantidad': 7035}
{'dia': 'Jueves', 'cantidad': 7525}
{'dia': 'Viernes', 'cantidad': 13908}
{'dia': 'Sábado', 'cantidad': 5151}
{'dia': 'Domingo', 'cantidad': 3613}

def franquicia(franquicia): '''Se ingresa la franquicia, retornando la cantidad de peliculas, ganancia total y promedio''' return {'franquicia':franquicia, 'cantidad':respuesta, 'ganancia_total':respuesta, 'ganancia_promedio':respuesta}

In [10]:
def franquicia(franquicia: str):
    '''Se ingresa la franquicia, retornando la cantidad de películas, ganancia total y promedio'''
    df_franquicia = df[df['belongs_to_collection'] == franquicia]
    cantidad = len(df_franquicia)
    ganancia_total = df_franquicia['revenue'].sum()
    ganancia_promedio = df_franquicia['revenue'].mean()
    return {'franquicia': franquicia, 'cantidad': cantidad, 'ganancia_total': ganancia_total, 'ganancia_promedio': ganancia_promedio}

In [16]:
print(franquicia('Toy Story Collection'))
print(franquicia('Grumpy Old Men Collection'))

{'franquicia': 'Toy Story Collection', 'cantidad': 3, 'ganancia_total': 1937890605.0, 'ganancia_promedio': 645963535.0}
{'franquicia': 'Grumpy Old Men Collection', 'cantidad': 2, 'ganancia_total': 0.0, 'ganancia_promedio': 0.0}

def peliculas_pais(pais): '''Ingresas el pais, retornando la cantidad de peliculas producidas en el mismo''' return {'pais':pais, 'cantidad':respuesta}

In [12]:
def peliculas_pais(pais: str):
    '''Ingresas el país, retornando la cantidad de películas producidas en el mismo'''
    df_pais = df[df['production_countries'].apply(lambda x: pais in str(x))]
    cantidad = len(df_pais)
    return {'pais': pais, 'cantidad': cantidad}

In [13]:
print(peliculas_pais('United States of America'))
print(peliculas_pais('Francia'))
print(peliculas_pais('Alemania'))
print(peliculas_pais('España'))
print(peliculas_pais('United Kingdom'))

{'pais': 'United States of America', 'cantidad': 21147}
{'pais': 'Francia', 'cantidad': 0}
{'pais': 'Alemania', 'cantidad': 0}
{'pais': 'España', 'cantidad': 0}
{'pais': 'United Kingdom', 'cantidad': 4091}

def productoras(productora): '''Ingresas la productora, retornando la ganancia total y la cantidad de peliculas que produjeron''' return {'productora':productora, 'ganancia_total':respuesta, 'cantidad':respuesta}

In [14]:
def productoras(productora: str):
    '''Ingresas la productora, retornando la ganancia total y la cantidad de películas que produjeron'''
    df_productora = df[df['production_companies'].apply(lambda x: productora in str(x))]
    cantidad = len(df_productora)
    ganancia_total = df_productora['revenue'].sum()
    return {'productora': productora, 'ganancia_total': ganancia_total, 'cantidad': cantidad}

In [15]:
print(productoras('TriStar Pictures'))
print(productoras('Warner Bros'))
print(productoras('Yermoliev'))

{'productora': 'TriStar Pictures', 'ganancia_total': 8022366764.0, 'cantidad': 197}
{'productora': 'Warner Bros', 'ganancia_total': 67156995259.0, 'cantidad': 1374}
{'productora': 'Yermoliev', 'ganancia_total': 0.0, 'cantidad': 1}

def retorno(pelicula): '''Ingresas la pelicula, retornando la inversion, la ganancia, el retorno y el año en el que se lanzo''' return {'pelicula':pelicula, 'inversion':respuesta, 'ganacia':respuesta,'retorno':respuesta, 'anio':respuesta}

In [62]:
def retorno(pelicula: str):
    '''Ingresas la película, retornando la inversión, la ganancia, el retorno y el año en el que se lanzó'''
    df_filtrado = df[df['title'].apply(lambda x: pelicula.strip() == str(x.strip()))]
    inversion = df_filtrado["budget"].sum()
    ganancia = df_filtrado["revenue"].sum()
    retorno = df_filtrado["return"].sum()
    anio = pd.to_datetime(df_filtrado["year"]).dt.year

    return {'pelicula': pelicula, 'inversion': inversion, 'ganancia': ganancia, 'retorno': retorno, 'año':str(anio.item())}

In [63]:
print(retorno('Toy Story'))

{'pelicula': 'Toy Story', 'inversion': 30000000, 'ganancia': 373554033.0, 'retorno': 12.45, 'año': '1970'}


# Deployment

Conoces sobre Render y tienes un tutorial de Render que te hace la vida mas facil smile . Tambien podrias usar Railway, o cualquier otro servicio que permita que la API pueda ser consumida desde la web.